# ===== PYTHON =====
*.py[cod]
*.pyo
*.pyd
__pycache__/
.python-version

# ===== DJANGO =====
*.log
*.pot
db.sqlite3
local_settings.py

# ===== ВИРТУАЛЬНЫЕ ОКРУЖЕНИЯ =====
venv/
.env/
env/
.venv/
ENV/
env.bak/
venv.bak/

# ===== СТАТИЧЕСКИЕ ФАЙЛЫ =====
/staticfiles/
/static/
/media/

# ===== РЕДАКТОРЫ И IDE =====
.idea/
.vscode/
*.swp
*.swo
*.bak
*~

# ===== СИСТЕМНЫЕ ФАЙЛЫ =====
.DS_Store
Thumbs.db

# ===== ТЕСТИРОВАНИЕ =====
.coverage
htmlcov/
.pytest_cache/
/tests/

# ===== NODE.JS =====
node_modules/
npm-debug.log*

# ===== БАЗЫ ДАННЫХ =====
*.db
*.sqlite
*.sqlite3

# ===== CELERY =====
celerybeat-schedule.*
celerybeat.pid

# ===== JUPYTER =====
.ipynb_checkpoints

# ===== ЛОГИ =====
logs/
*.log

# ===== ФАЙЛЫ ОКРУЖЕНИЯ =====
.env
*.env
secrets.json
