dj-rest-auth                                   # Базовые функции
django-allauth                                 # Для регистрации и соц. сетей (опционально)
djangorestframework-simplejwt                  # Для JWT (опционально)
drf-spectacular                                # Документация API 
